.account-ui-container {
    padding: 20px;
    box-sizing: border-box;

    h3, p {
        margin: 0;
    }

    h3 {
        font-size: 20px;
        line-height: 1.1;
        padding-bottom: 20px;

        span.verified {
            color: green;
        }

        span.notVerified {
            color: red;
        }
    }

    p {
        font-size: 17px;
        line-height: 1.1;
        padding-bottom: 10px;

        &.register-via {
            padding-top: 20px;
        }
    }

    .reset-password-msg {
        font-size: 14px;
        line-height: 1.1;
        color: grey;
        padding: 5px 0 2px;
    }

    .account-verify-info {
        padding-bottom: 15px;

        .verify-email-button {
            font-size: 16px;
            line-height: 1.1;
        }
        p.account-verify-info-warning {
            font-size: 14px;
            line-height: 1.1;
            color: grey;
            padding: 5px 0 2px;
        }
    }

    .update-password-button {
        display: inline-block;
        cursor: default;
        background-color: #444444;
        opacity: 0.3;
        color: #FFFFFF;
        line-height: 1;
        padding: 8px 12px;
        transition: background-color 0.3s;

        &.enabled {
            cursor: pointer;
            pointer-events: all;
            opacity: 1;

            &:hover {
                background-color: #555555;
            }
        }
    }
}
