.search-bar-container {
    .search-bar-content {
        .custom-option {
            padding: 5px;
            // cursor: pointer;
            font-size: 16px;
            line-height: 1.2;
            
            .option-logo {
                padding-right: 5px;
            }
        }
    }
}