.search-bar-container {
    .search-bar-content {
        .css-clm9hd-placeholder,
        .css-1nauho3-singleValue,
        .css-61pzuj-Input input,
        .css-1vm4vgp-Input input {
            padding-left: 10px !important;
        }
        .custom-option {
            padding: 5px;
            // cursor: pointer;
            font-size: 16px;
            line-height: 1.2;
            
            .option-logo {
                padding-right: 5px;
            }
        }
    }
}