.info-panel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

    .info-panel-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

        .tab-button-container {
            display: flex;
            width: 100%;
            height: 30px;
            .tab-item {
                padding: 3px 10px;
                background-color: #B9D0E6;
                color: #333333;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                cursor: pointer;

                &.current {
                  background-color: #3C73A8;
                  color: #FFFFFF;
                }
            }
        }
    
        .info-panel-detail-container {
          position: relative;
            height: calc(100% - 30px);
            background-color: #3C73A8;
          
            .info-panel-detail-content {
              position: absolute;
              background-color: #B9D0E6;
              border-radius: 10px;
              top: 10px;
              left: 10px;
              width: calc(100% - 20px);
              height: calc(100% - 20px);
              overflow-y: auto;

              &.general {
                display: flex;
                
                .profile-image-container {
                  position: relative;
                  width: 230px;
                  margin: 10px;
                  
                  h3 {
                    margin: 0;
                    font-size: 22px;
                    line-height: 1.1;
                    padding-bottom: 5px;
                  }

                  p {
                    &.address {
                      color: #555555;
                      margin: 0;
                      font-size: 11px;
                      padding-bottom: 10px;
                    }
                  }

                  .profile-image-content {
                    position: relative;
                    img {
                      width: 230px;
                      height: 100px;
                      background-color: grey;
                    }

                    .bookmark-button-wrapper {
                      position: absolute;
                      top: 5px;
                      left: 5px;
                      z-index: 1;
                      pointer-events: all;
                      cursor: pointer;
                      filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4));
        
                      .bookmark-button {
                        background: #FFFFFF;
                        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                        border: 1px solid black;
                        display: inline-block;
                        height: 30px;
                        width: 30px;
                        transition: transform 0.25s;
                        &:hover {
                          transform: scale(1.1);
                        }
          
                        &.checked {
                          background: gold;
                        }
                      }
                    }
                  }

                  
                }

                .right {
                  padding: 10px 0;
                  
                  & > * {
                    margin: 0;
                  }

                  p.score {
                    font-size: 20px;
                    padding-bottom: 5px;
                  }

                  
                  .school {
                    padding-bottom: 10px;
                    font-size: 13px;
                    p {
                      margin: 0;
                    }
                  }

                  .mrt {
                    .mrt-item {
                      padding-bottom: 1px;

                      span {
                        vertical-align: middle;

                        &.mrt-line-logo {
                          font-size: 12px;
                          padding: 2px 4px;
                        }

                        &:last-child {
                          padding-left: 5px;
                          font-size: 14px;
                        }
                      }

                    }
                  }
                }
                
              }
  
              &.value {
  
              }
            }
            
        }
    }
    
}