.info-panel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

    .info-panel-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

        .tab-button-container {
            display: flex;
            width: 100%;
            height: 30px;

            .tab-item {
                padding: 8px 15px;
                background-color: #B9D0E6;
                color: #333333;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                cursor: pointer;
                font-size: 18px;
                line-height: 1;
                &.current {
                  background-color: #3C73A8;
                  color: #FFFFFF;
                }
            }
        }
    
        .info-panel-detail-container {
          position: relative;
            background-color: #3C73A8;
            border-top: 10px solid #3C73A8;

            .info-panel-detail-content {
              padding: 0 10px 10px;
              margin: 0 10px 10px;
              box-sizing: border-box;
              min-height: calc(100% - 10px);
              background-color: #B9D0E6;
              border-radius: 10px;

              &.general {
                
                @media (min-width: 420px) {
                  display: flex;
                }
                
                .profile-image-container {
                  position: relative;
                  padding: 10px 5px 10px 0;
                  
                  @media (min-width: 420px) {
                    max-width: 250px;
                  }
                  h3 {
                    margin: 0;
                    font-size: 22px;
                    line-height: 1.1;
                    padding-bottom: 10px;
                  }

                  p {
                    &.address {
                      color: #555555;
                      margin: 0;
                      font-size: 11px;
                      line-height: 1.2;
                      padding-bottom: 10px;
                    }
                  }

                  .view-on-map-button {
                    text-align: center;

                    & > div {
                      display: inline-block;
                      cursor: pointer;
                      background-color: #555555;
                      font-size: 18px;
                      color: #FFFFFF;
                      line-height: 1;
                      padding: 8px 15px;
                      transition: background-color 0.3s;

                      &:hover {
                        background-color: #444444;
                      }
                    }
                  }

                  .profile-image-content {
                    position: relative;
                    img {
                      width: 100%;
                      height: 150px;
                      background-color: grey;
                      object-fit: cover;
                      object-position: bottom;
                    }

                    .bookmark-button {
                      position: absolute;
                      top: 5px;
                      left: 5px;
                      width: 40px;
                      height: 40px;
                      z-index: 1;
                      pointer-events: all;
                      cursor: pointer;
                      // filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4));
        
                      // .bookmark-button {
                      //   background: #FFFFFF;
                      //   clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                      //   border: 1px solid black;
                      //   display: inline-block;
                      //   height: 30px;
                      //   width: 30px;
                        transition: transform 0.25s;
                        &:hover {
                          transform: scale(1.1);
                        }
          
                      //   &.checked {
                      //     background: gold;
                      //   }
                      // }
                    }
                  }

                  
                }

                .right {
                  padding: 10px 0 10px 10px;
                  
                  & > * {
                    margin: 0;
                  }

                  p.score {
                    font-weight: bold;
                    font-size: 18px;
                    padding-bottom: 10px;
                    line-height: 1;

                    b {
                      font-size: 40px;
                      text-shadow: 1px 1px 2px rgba(#333333, 0.6);
                    }
                  }

                  
                  .school {
                    padding-bottom: 10px;

                    b {
                      display: block;
                      font-size: 17px;
                      padding-bottom: 5px;
                    }

                    ul {
                      margin: 0;
                      padding: 0;
                      padding-left: 17px;

                      li {
                        line-height: 1.1;
                        padding-bottom: 5px;
                        font-size: 13px;
                      }
                    }
                    
                  }

                  .mrt {
                    padding-bottom: 10px;

                    b {
                      font-size: 17px;
                      padding-bottom: 5px;
                      display: block;
                    }
                    .mrt-item {
                      padding-bottom: 1px;

                      span {
                        vertical-align: middle;

                        &.mrt-line-logo {
                          font-size: 12px;
                          padding: 2px 4px;
                        }

                        &:last-child {
                          padding-left: 5px;
                          font-size: 13px;
                        }
                      }

                    }
                  }
                }
                
              }
  
              &.value {
                padding: 30px 10px 10px;
                box-sizing: border-box;
                .score-summary-container {
                  .score-item {
                    // width: 70%;
                    margin: 0;
                    white-space: nowrap;
                    padding-bottom: 10px;

                    @media (min-width: 420px) {
                      width: 80%;
                    }

                    & > * {
                      display: inline-block;
                      vertical-align: middle;
                    }

                    p {
                      width: calc(100% - 100px);
                      padding-right: 20px;
                      box-sizing: border-box;
                      white-space: normal;
                      margin: 0;
                      font-size: 17px;
                      line-height: 1.2;
                    }

                    span {
                      white-space: nowrap;
                    }

                    span.score-box {
                      width: 100px;
                      padding: 15px 20px;
                      line-height: 1;
                      box-sizing: border-box;
                    }
                  }
                }

                .google-review-container {
                  h3 {
                    font-size: 25px;
                  }

                  .review-item {
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #aaaaaa;
                    .profile {
                      img {
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: 2px solid #FFFFFF;
                        margin-right: 5px;
                      }
  
                      .rating {
                        display: inline-block;
                        h5 {
                          display: inline;
                        }
  
                        .rating-stars {
                          & > span {
                            background: #FFFFFF;
                            clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
                            border: 1px solid black;
                            display: inline-block;
                            height: 17px;
                            width: 17px;
                            
                            &.checked {
                              background: gold;
                            }
                          }
                        }
                      }
                    } // profile
                    p {
                      font-size: 14px;
                      margin: 0;
                    }
                  }
                  
                }
              }
            }
            
        }
    }
    
}