.property-web-app {
  position: relative;

  .navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, #333333 0%, rgba(#333333, 0) 100%);

    .search-bar-container {
      position: absolute;
        right: 0;
        top: 0;
        padding: 10px 10px 5px 50px;
        box-sizing: border-box;
        width: 100%;
        max-width: 300px;   
    }
  } // navbar-container

  .user-greet-msg {
    position: absolute;
    z-index: 1;
    top: 15px;
    left: 60px;
    color: #FFFFFF;
    opacity: 0;

    &.show {
      opacity: 1;
    }

    @media (min-width: 450px) {
      opacity: 1;
    }
  }

  .side-panel-entry {
    &.open {
      .side-panel-container {
        background-color: rgba(black, 0.5);
        pointer-events: all;
  
        .side-panel-content {
          transform:translateX(0);
        }
      }
    } // open

    .side-panel-toggle-button {
      position: fixed;
      width: 36px;
      height: 36px;
      top: 10px;
      left: 10px;
      z-index: 1;
      cursor: pointer;
    }
  
    .side-panel-container {
      position: fixed;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      transition: 0.5s background-color;
      pointer-events: none;

      .side-panel-content {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 250px;
        background-color: #3C73A8;
        
        transition: transform 0.5s;
        transform: translateX(-100%);
        padding: 60px 0;

        .side-panel-option {
          padding: 10px;
          line-height: 1.3;
          cursor: pointer;
          transition: background-color 0.25s;
          &:hover{
            background-color: rgba(red, 0.7);
          }
        }
      } // side-panel-content

      .close-region {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: calc(100% - 250px);
      }
    }
  } // side-panel-entry


} // property-web-app
