body {
  color: #333333;
  font-size: 16px;
  p {
    padding: 0;
    margin: 0;
  }
  
  div {
    margin: 0;
    padding: 0;
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #333333;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: translate(-50%, -50%) rotate(0deg); }
    100% { -webkit-transform: translate(-50%, -50%) rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
  }

  $white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

.google-btn {
  cursor: pointer;
  width: 184px;
  height: 42px;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  transition: background-color 0.3s box-shadow 0.3s;
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background-color: $button-active-blue;
  }
}


@import url(https://fonts.googleapis.com/css?family=Roboto:500);


.property-web-app {
  position: relative;

  .navbar-container {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #333333;
    // background: linear-gradient(to bottom, #333333 0%, rgba(#333333, 0) 100%);

    .web-app-logo {
      position: absolute;
      z-index: 3;
      top: 4px;
      left: 53px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.05);
      }
    }

    .search-bar-container {
      position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
        padding: 8px 10px 0 50px;
        box-sizing: border-box;
        width: calc(100% - 60px);
        max-width: 330px;
        
        @media (min-width: 600px) {
          z-index: 3;
        }
  
        @media (min-width: 768px) {
          width: 100%;
          max-width: 500px;
        }
    }
  } // navbar-container

  .logout-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    pointer-events: none;
    font-size: 20px;
    color: #FFFFFF;
  } // logout-container
} // property-web-app

// MISC styles

span.text-button {
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  line-height: 1;
  text-decoration: underline dotted darkblue;
  color: darkblue;

  &:hover {
    text-decoration: underline solid darkblue;
  }
  &.text-button-remove:hover {
    color: red;
    text-decoration: underline solid red;
  }
}


.input-field-container {
  .input-field {
      display: flex;
      padding-bottom: 10px;
      align-items: center;
      justify-content: space-between;
      span {
          padding-right: 5px;
          font-size: 15px;
          line-height: 1;
          display: inline-block;
      }

      input {
          width: 65%;
          padding: 5px 12px;
          font-size: 15px;
          line-height: 1;
          color: #555555;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
      }
  }
}
