.register-container {
    .input-field {
        font-size: 13px;
        margin-bottom: 12px;

        .sub-input-field {
            margin-bottom: 5px;
        }
        span {
            vertical-align: bottom;
            padding-right: 5px;
        }
        input[type=text] {
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        p {
            margin: 0;
            line-height: 1;
            font-size: 12px;
            &.warning {color: red};
            &.approve {color: green};
        }
    }
}