
  .user-greet-msg {
    position: absolute;
    z-index: 3;
    left: 105px;
    top: 50%;
    transform: translateY(-50%);
    color: #FFFFFF;
    
    font-size: 16px;
    line-height: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0s 0s;

    width: 185px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    

    &.show {
      transition: opacity 0.3s 0.5s;
      opacity: 1;
    }

    @media (min-width: 550px) {
      opacity: 1;
    }
  }

  .checkbox-container {
    .checkbox-item {
      display: inline-block;
      padding: 5px 10px;
      border-radius: 20px;
      border: 1px solid rgba(#333333, 0.4);
      font-size: 17px;
      line-height: 1;
      margin-right: 5px;
      margin-bottom: 5px;
      cursor: pointer;

      &:hover {
        border: 1px solid #333333;
      }

      &.checked {
        background-color: #333333;
        color: #ffffff;
      }
    }
  }

  
.slider {
    & > * {
      display: inline-block;
      vertical-align: center;
    }
  
    .slider-content {
      position: relative;
      padding-bottom: 15px;
      width: 100%;
  
      input[type=range] {
        -webkit-appearance: none;
        width: 100%;
        height: 10px;
        background-color: #FFFFFF;
        outline: none;
        opacity: 0.75;
        transition: opacity 0.3s;
    
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 30px;
          height: 20px;
          background: #333333;
          cursor: pointer;
        }
        
        &::-moz-range-thumb {
          width: 30px;
          height: 20px;
          background: #333333;
          cursor: pointer;
        }
  
        &:hover {
          opacity: 1;
          &::-webkit-slider-thumb,
          &::-moz-range-thumb {
            opacity: 1;
          }
        }
      } // input 
  
      span.tick {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 10px;
  
        &:not(:first-of-type) {
          transform: translateX(-50%);
        }
  
        &:last-child {
          transform: translateX(-100%);
        }
        
      }
    }
    
    
  } // slider