.login-container {
    padding: 10px;
    background-color: #B9D0E6;

    .conventional-login-container {
        margin-bottom: 20px;
        p:first-of-type {
            margin: 0;
        }
    }
    
}